src/ @TemurbekUbaydullayev

src/RaqamliAvlod.Api @Akhadov

src/RaqamliAvlod.DataAccess @Maxamadzoidov

src/RaqamliAvlod.Domain  @Maxamadzoidov

src/RaqamliAvlod.Application @azizsayfullayev

src/RaqamliAvlod.Service @

test/ Aslonboyev